
div{
    background-color: #d94f8d;
    width: 100px;
    height: 100px;
    display: inline;
    visibility: hidden;
}
span{
    background-color: #20b2b6;
    width: 100px;
    height: 100px;
    display: inline;
}

