body{
    background-color: black;
}
h2{
   color: white
}

p{
    color: white
}

#p1{
    color: red
}
#p2{
    color: orange
}
#p3{
    color: yellow
}
#p4{
    color: green
}

.odd{
    color: grey
}

.even{
    color: blue
}
